.news-container {
  width: 100%;
   overflow: hidden; /*to hide the outside of container and that make the slider */
  background: var(--section-background);
  color: #fff;
  height: 32px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.news-track {
  display: inline-block;
  white-space: nowrap;
   padding-left: 100%; /*to make the news text start from right and move to left */
  animation: scrollNews 20s linear infinite;
  font-size: 14px;
}
.news-track a{
    text-decoration: none;
    color: var(--text-heders);
}
.news-track a:hover{
    text-decoration: none;
    color: var(--title);
}

@keyframes scrollNews {
 0% {  /* start point */
    transform: translateX(0%);/* same place */
  }
  100% {/* end point */
    transform: translateX(-100%); /*  left */
  }
}

/* Pause on hover */
.news-container:hover .news-track {
  animation-play-state: paused;
}





/*news cards section*/

.news-section .row {
  margin-top: 20px;
}

/* Card styling */
.news-card {
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.news-card img {
  height: 180px;
  object-fit: cover;
}

/* Title */
.news-card .card-title {
  font-size: 16px;
  font-weight: bold;
}

/* Description */
.news-card .card-text {
  font-size: 13px;
  color: #666;
}

/* Button */
.news-card .btn {
  font-size: 13px;
}